@import url(jogar-admin.css);
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.container-fluid{
    display: none;
}

.questao{
    color: rgb(0, 45, 248);
    font-size: 2.5rem;
    width: 80%;
    border: 3px solid rgb(49, 69, 156);
}

.temporizador{
    width: 100%;
}

.aguardando{
    display: block;
    position: absolute;
    font-size: 1.5rem;
    top: 10%;
    margin-left: 40%; 
    font-family: 'Luckiest Guy', cursive;   
}

#anim-two {
    text-align: center;
  }
  #anim-two ul {
    text-align: center;
    list-style: none;
  }
  #anim-two ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin: 0 5px;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation: bounce-balls 1.2s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
            animation: bounce-balls 1.2s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
  }
  #anim-two ul li:nth-child(1) {
    background: orange;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  #anim-two ul li:nth-child(2) {
    background: coral;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  #anim-two ul li:nth-child(3) {
    background: darksalmon;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  #anim-two ul li:nth-child(4) {
    background: indianred;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  #anim-two ul li:nth-child(5) {
    background: lightcoral;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  #anim-two ul li:nth-child(6) {
    background: lightcoral;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  #anim-two ul li:nth-child(7) {
    background: lightcoral;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }


.tempo{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
    background: rgb(72, 223, 80);
}

.row-container{
    min-width: 100vw;
}

.row-respostas{
    height: 18rem;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 992px){
    
.tempo span{
    color: #fff;
    font-size: 3.5rem;
    line-height: 100px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 0px 0px #000, 
                 -2px 0px 0px #000, 
                 0px 2px 0px #000, 
                 0px -2px 0px #000;
}

    .row-respostas{
        height: 14rem ;
    }
}

@media screen and (max-width: 1366px){

    .row-respostas{
        height: 10rem;
    }

    .tempo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: 3px solid black;
        text-align: center;
        vertical-align: middle;
        background: rgb(72, 223, 80);
    }

    .questao{
        color: rgb(0, 45, 248);
        font-size: 2rem;
        width: 80%;
        border: 3px solid rgb(49, 69, 156);
    }

    .tempo span{
        color: #fff;
        font-size: 2.4rem;
        line-height: 65px;
        font-family: 'Luckiest Guy', cursive;
        text-shadow: 2px 0px 0px #000, 
                     -2px 0px 0px #000, 
                     0px 2px 0px #000, 
                     0px -2px 0px #000;
    }
    
    
}

@media screen and (max-width: 767px){
    .row-respostas{
        height: 6rem ;
    }
}

@media screen and (max-width: 650px){
    .row-respostas{
        height: 10rem ;
    }
}

@media screen and (max-width: 550px){
    .row-respostas{
        height: 8rem ;
    }
}

@media screen and (max-width: 450px){
    .row-respostas{
        height: 6rem ;
    }
}



.col-resposta{
    text-align: center;
    cursor: pointer;
    height: 100%;
}

.resposta{
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
}

/* marcar opcao*/

input[type='radio']{
    display: none;
}

input[type='radio']:checked + .col-resposta{
    border: 3px solid rgb(0, 255, 0);
}


.col-resposta-1{
    background: rgb(128,60,216);
}

.col-resposta-2{
    background: rgb(111,214,59);
}

.col-resposta-3{
    background: rgb(59,77,211);
}

.col-resposta-4{
    background: rgb(214,59,101);
}

.col-resposta-1:hover{
    background: rgba(128,60,216,.8);
}

.col-resposta-2:hover{
    background: rgba(111,214,59,.8);
}

.col-resposta-3:hover{
    background: rgba(59,77,211,.8);
}

.col-resposta-4:hover{
    background: rgba(214,59,101,.8);
}


/* Animacoes de loading */

@keyframes bounce-balls {
    30% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(205px);
              transform: translateY(205px);
    }
    80% {
      -webkit-transform: translateY(190px);
              transform: translateY(190px);
    }
    100% {
      -webkit-transform: translateY(195px);
              transform: translateY(195px);
    }
  }